%flex-between{
  display: flex;
  justify-content: space-between;
}

%list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

%base-link {
  text-decoration: none;
  color: map-get($colors, 'main-font-color');
  transition: .3s;

&:focus, &:hover {
  color: map-get($colors, 'accent-color')
  }
}