article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a:active, a:hover {
  outline: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

.header__end, .header__start, .header__content {
  display: flex;
  justify-content: space-between;
}

.header__socials ul, .header__main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__socials ul a, .header__main-menu ul a {
  text-decoration: none;
  color: #8D96BD;
  transition: 0.3s;
}
.header__socials ul a:focus, .header__main-menu ul a:focus, .header__socials ul a:hover, .header__main-menu ul a:hover {
  color: #5E81FE;
}

body {
  font-family: "Quicksand", "Roboto", sans-serif;
  font-size: 15px;
  color: #8D96BD;
}

.container, .container-sm, .container-md, .container-lg {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
}

.container-sm {
  max-width: 577px;
}

.container-md {
  max-width: 767px;
}

.container-lg {
  max-width: 992px;
}

a {
  display: inline-block;
}

.bordered {
  border-bottom: 1px solid #D8E3FE;
}

.m-0 {
  margin: 0;
}

.btn {
  line-height: normal;
  font-family: "Roboto", "Quicksand", sans-serif;
  padding: 9px 11px;
  margin: 0;
  background-color: transparent;
  border: 2px solid transparent;
  text-decoration: none;
  color: #A6B6DA;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
}
.btn:focus, .btn:hover {
  box-shadow: 0 5px 7px -4px #A6B6DA;
}
.btn.btn-primary {
  background-color: #D2E1FF;
  color: #3A79FF;
  border-color: #D2E1FF;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
  box-shadow: "$btn-shadow" #3A79FF;
}

.btn-danger {
  background-color: #FFD7D7;
  color: #D43F3F;
  border-color: #FFD7D7;
}
.btn-danger:focus, .btn-danger:hover {
  box-shadow: "$btn-shadow" #D43F3F;
}

.btn-secondary {
  background-color: transparent;
  color: #ADB4D2;
  border-color: #ADB4D2;
}
.btn-secondary:focus, .btn-secondary:hover {
  box-shadow: "$btn-shadow" #ADB4D2;
}

.btn-icon {
  background-color: #4C85FF;
  color: #fff;
  border-color: #4C85FF;
}
.btn-icon:focus, .btn-icon:hover {
  box-shadow: "$btn-shadow" #4C85FF;
}
.btn-icon.rounded {
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #5E81FE;
  box-shadow: 0 0 30px 2px rgba(201, 209, 231, 0.6);
}
.btn-icon.rounded:hover {
  box-shadow: 0 0 16px 10px rgba(201, 209, 231, 0.6);
}

.btn-lg {
  padding: 11px 13px;
  font-size: 15px;
}

.btn-md {
  padding: 9px 11px;
  font-size: 13px;
}

.btn-sm {
  padding: 7px 9px;
  font-size: 11px;
}

.btn-xs {
  padding: 5px 7px;
  font-size: 9px;
}

.header {
  padding: 21px 0;
  max-height: 80px;
}
.header__content {
  align-items: center;
}
.header__start {
  gap: 73px;
  align-items: center;
}
.header__logo a {
  background-color: #5E81FE;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.3s box-shadow;
  display: flex;
  align-items: center;
}
.header__logo a:hover {
  box-shadow: 0 0 11px -3px #000;
}
.header .active-link {
  color: #5E81FE;
}
.header__main-menu ul {
  gap: 42px;
  display: flex;
}
.header__main-menu ul a {
  color: #697CA6;
  font-weight: 500;
}
.header__end {
  gap: 45px;
  align-items: center;
}
.header__socials ul {
  gap: 25px;
  display: flex;
}
.header__socials ul a {
  font-size: 18px;
}

.banner {
  background-color: #f5f6ff;
  background-image: url("./../../assets/svg/clouds.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 570px;
  max-height: 570px;
  padding-top: 92px;
  position: relative;
  overflow: hidden;
}
.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/svg/chart.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__clouds {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 95px;
}
.banner img {
  width: 100%;
}
.banner__content {
  z-index: 2;
  position: relative;
}
.banner__text {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.banner__text h6 {
  color: #3D4F9F;
  font-size: 11px;
  margin-bottom: 16px;
}
.banner__text h1 {
  font-weight: 300;
  color: #3D4F9F;
  font-size: 48px;
  margin-bottom: 28px;
  margin-top: 0;
}
.banner__text h1 span {
  font-weight: 600;
  font-size: 48px;
}
.banner__text p {
  max-width: 470px;
  margin: 0 auto;
  line-height: 30px;
}
.banner .btn-play {
  text-align: center;
}
.banner .btn-play button {
  width: 43px;
  height: 43px;
}

.partners {
  padding: 60px 0;
}
.partners__content {
  gap: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__logo {
  transition: 0.3s;
}
.partners__logo a:hover path {
  fill: #5982E7;
}

.plan-and-manage {
  background-color: #F5F8FF;
  max-height: 775px;
}
.plan-and-manage__content {
  gap: 55px;
  display: flex;
  padding: 170px 0 170px 105px;
  max-height: 775px;
}
.plan-and-manage__text {
  max-width: 370px;
}
.plan-and-manage__text h6 {
  color: #3D4F9F;
  margin-bottom: 27px;
  font-size: 11px;
}
.plan-and-manage__text h2 {
  color: #3D4F9F;
  font-weight: 600;
  margin-bottom: 27px;
  font-size: 36px;
}
.plan-and-manage__text h2 span {
  font-weight: 400;
}
.plan-and-manage__text p {
  color: #8D96BD;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin-bottom: 47px;
}
.plan-and-manage__buttons .view-video {
  margin-right: -5px;
}
.plan-and-manage__image {
  max-width: 655px;
  display: flex;
  justify-content: center;
  height: 650px;
  position: relative;
  top: -45px;
}

.about-us {
  padding: 140px 115px 170px 125px;
}
.about-us .container {
  background-image: url("./../../assets/svg/blue_clouds.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__content {
  max-width: 767px;
}
.about-us__text {
  margin-bottom: 110px;
}
.about-us__text h6 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #3D4F9F;
}
.about-us__text h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 550;
  color: #3D4F9F;
}
.about-us__features {
  gap: 37px;
  display: flex;
  text-align: center;
  margin-bottom: 95px;
}
.about-us__features .feature, .about-us__features .feature-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
  position: relative;
}
.about-us__features .feature p, .about-us__features .feature-last p {
  font-weight: 550;
  line-height: 20px;
  font-size: 11px;
  color: #ADB4D2;
}
.about-us__features .dash {
  position: relative;
}
.about-us__features .dash svg {
  position: absolute;
  top: 122px;
  right: -15px;
}
.about-us__features h3 {
  color: #4074F8;
  font-size: 15px;
  margin-bottom: 25px;
}
.about-us__features .icon {
  background-color: #F1F5FF;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.about-us__features .icon:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 0;
}
.about-us__buttons {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__buttons p {
  font-weight: 550;
  font-size: 11px;
  color: #ADB4D2;
}

.statistics {
  position: relative;
  padding: 65px 0;
}
.statistics:before, .statistics:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 50%;
}
.statistics:before {
  z-index: -1;
  background-color: #5E80FF;
}
.statistics:after {
  right: 0;
  z-index: -1;
  background-color: #E0E9FF;
}
.statistics__content {
  gap: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistics__productivity, .statistics__users {
  width: calc(50% - 90px);
}
.statistics__productivity {
  text-align: right;
}
.statistics__productivity h2 {
  letter-spacing: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
}
.statistics__productivity p {
  line-height: 24px;
  font-weight: 550;
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
}
.statistics__users h2 {
  color: #5E80FF;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 1px;
}
.statistics__users p {
  color: #5E80FF;
  font-weight: 550;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

/*# sourceMappingURL=home-page.css.map */
